version: "3.9"
services:
  postgres:
    image: postgres:16-alpine
    container_name: hookforge-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: hookforge
      POSTGRES_PASSWORD: hookforge
      POSTGRES_DB: hookforge
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: hookforge-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  minio:
    image: minio/minio:latest
    container_name: hookforge-minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data

  createbuckets:
    image: minio/mc:latest
    container_name: hookforge-minio-init
    depends_on:
      - minio
    entrypoint: |
      /bin/sh -c "
      until (/usr/bin/mc alias set local http://minio:9000 minioadmin minioadmin); do echo '...waiting...' && sleep 1; done;
      /usr/bin/mc mb -p local/hookforge || true;
      /usr/bin/mc anonymous set download local/hookforge;
      exit 0;
      "

volumes:
  postgres_data:
  redis_data:
  minio_data:
